*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.mynav {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    margin-top: 30px;
}

.mynav h1{
    color: rgb(16, 16, 92);
    font-size: 2.5rem;
    font-style: italic;
}

.mynav h1 span{
    color: rgb(16, 171, 232);
}


.mynav ul{
    display: flex;
    list-style-type: none;
    gap: 52px;
    justify-content: space-between;
    
}

.mynav ul li a {
    color: rgb(7, 7, 81);
    font-size: larger;
    font-size: 2rem;
    text-decoration: none;

}


.full-size{
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 3;
    display: flex;
    padding: 15px;
    display: none;
}
.full-size img{
    max-height: 100%;
    max-width: 100%;
}

.cross-button{
    width: 40px;
    position: fixed;
    top: 2%;
    left: 80%;
    z-index: 33;
    background: rgb(194, 187, 187);
    border: none;
    
}

.hero-banner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 200px 100px 200px;
    gap: 20px;
    margin: 20px;
}

.hero-banner img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    cursor: pointer;
}

.hero-banner img:hover{
    transform: scale(1.1);
}

.city {
    grid-area: 1 / 1 / 2 / 2;
    max-height: 100%;
}


.beach{
    grid-area: 1 / 2 / 3 / 3;
    height: 100%;
}


.sky {
    grid-area: 1 / 3 / 2 / 4;
    height: 100%;
}

.car {
    grid-area: 2 / 1 / 5 / 2;
    max-height: 100%;
}


.forest{
    grid-area: 3 / 2 / 5 / 3;
    max-height: 100%;
}



.sea{
    grid-area: 2 / 3 / 5 / 4;
    height: 100%;
}

@media screen and (max-width: 760px) {
    .hero-banner {
        display: flex;
        flex-direction: column;
    }
}